<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923192978076-fdibvbnqraj2k1u902tkh1heuilsqrac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923192978076-fdibvbnqraj2k1u902tkh1heuilsqrac</string>
	<key>API_KEY</key>
	<string>AIzaSyDAl1Ak6HLY46hCvHb2-n7bc_SjgEtlEbc</string>
	<key>GCM_SENDER_ID</key>
	<string>923192978076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.burgessmsu.cruw</string>
	<key>PROJECT_ID</key>
	<string>burgessmsu-cruw</string>
	<key>STORAGE_BUCKET</key>
	<string>burgessmsu-cruw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923192978076:ios:7d6c7e3491a5249729db59</string>
</dict>
</plist>